<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eprinting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>by.eprinting.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeServlet</display-name>
    <servlet-name>ChargeServlet</servlet-name>
    <servlet-class>by.eprinting.controller.ChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeServlet</servlet-name>
    <url-pattern>/charge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>by.eprinting.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>by.eprinting.controller.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackServlet</display-name>
    <servlet-name>TrackServlet</servlet-name>
    <servlet-class>by.eprinting.controller.TrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/track</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemError</servlet-name>
    <jsp-file>/WEB-INF/jsp/systemError.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemError</servlet-name>
    <url-pattern>/systemError</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnpaidResult</servlet-name>
    <jsp-file>/WEB-INF/jsp/unpaidResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnpaidResult</servlet-name>
    <url-pattern>/unpaidResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentJSP</servlet-name>
    <url-pattern>/paymentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrackResult</servlet-name>
    <jsp-file>/WEB-INF/jsp/trackResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackResult</servlet-name>
    <url-pattern>/trackResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTrackServlet</display-name>
    <servlet-name>SearchTrackServlet</servlet-name>
    <servlet-class>by.eprinting.controller.SearchTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTrackServlet</servlet-name>
    <url-pattern>/findOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WrongSerial</servlet-name>
    <jsp-file>/WEB-INF/jsp/wrongSerial.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrongSerial</servlet-name>
    <url-pattern>/searchResult</url-pattern>
  </servlet-mapping>
</web-app>